{% load url from future %}{% load i18n %}{% load staticfiles %}<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]--><!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]--><!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]--><!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]--><!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]--><head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{% static 'postorius/img/favicon.ico' %}">
	<link rel="apple-touch-icon" href="{% static 'postorius/img/apple-touch-icon.png' %}">

	<link rel="stylesheet" href="{% static 'postorius/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'postorius/css/style.css' %}">

</head>
<body class="{% block body_class %}{% endblock %}">

    <header>
        <div class="mm_header">
            <div class="mm_canvas">
                <a href="{% url 'list_index' %}" class="mm_logo"><img src="{% static 'postorius/img/mailman_logo_small_trans.png' %}" alt="{% trans 'Home' %}" /></a>
                <ul class="mm_metaNav">
                    <li><i class="icon-envelope"></i> <a href="{% url 'list_index' %}">Lists</a></li>
                    {% if user.is_authenticated %}
                        <li><i class="icon-tasks"></i><a href="{% url 'user_tasks' %}">{% trans "To Do" %}</a></li>
                        <li><i class="icon-cog"></i> <a href="{% url 'user_mailmansettings' %}">My Settings</a></li>
                    {% endif %}
                    {% if user.is_superuser %}
                        <li><i class="icon-user"></i> <a href="{% url 'user_index' %}">Users</a></li>
                        <li><i class="icon-globe"></i> <a href="{% url 'domain_index' %}">Domains</a></li>
                    {% endif %}
                </ul>
                <div class="mm_loginName">
                {% if user.is_authenticated %}
                        Logged in as: <a href="{% url 'user_profile' %}">{{ user.display_name}}</a> <a href="{% url 'user_logout' %}" title="{% trans 'Logout' %}" class="mm_logout"><i class="icon-off"></i></a>
                {% else %}
                    <a href="{% url 'user_login' %}">Login</a>
                {% endif %}
                </div>
            </div>
        </div>
    </header>

    <div class="mm_main mm_canvas">
        {% if messages %}
            <ul class="mm_messages">
            {% for message in messages %}
                <li class="alert {% if message.tags %} class="{{ message.tags }}"{% endif %}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% block main %}{% endblock main %}
    </div>

    <footer>
        {% block footer %}
        <p class="mm_canvas">
            <a href="http://packages.python.org/postorius">Postorius Documentation</a> |
            <a href="http://list.org">GNU Mailman</a>
        </p>
        {% endblock footer %}
    </footer>

    <script src="{% static 'postorius/js/libs/jquery-1.8.3.min.js' %}"></script>
    <script src="{% static 'postorius/js/libs/bootstrap.js' %}"></script>
    <script src="{% static 'postorius/js/plugins.js' %}"></script>
    <script src="{% static 'postorius/js/script.js' %}"></script>

    {% block additionaljs %}{% endblock %}
</body>
