{% extends postorius_base_template %}
{% load url from future %}
{% load i18n %}

{% block main %}
    <h1>{% trans "Domain Index" %}</h1>
    <p>
        <a class="btn btn-success" href="{% url 'domain_new' %}">{% trans "Create Domain" %}</a>
    </p>

    <table class="table table-bordered table-striped">
    	<thead>
    		<tr>
                <th>Mail Host</th>
                <th>URL Host</th>
                <th>Contact Address</th>
                <th>Description</th>
                <th>&nbsp;</th>
    		</tr>
    	</thead>
    	<tbody>
            {% for domain in domains %}
    		<tr>
    			<td>{{ domain.mail_host }}</td>
    			<td>{{ domain.base_url }}</td>
    			<td>{{ domain.contact_address }}</td>
    			<td>{{ domain.description }}</td>
    			<td><a href="{% url 'domain_delete' domain.mail_host %}" class="btn btn-mini btn-danger">{% trans 'Delete' %}</a></td>
    		</tr>
            {% endfor %}
    	</tbody>
    </table>
{% endblock main %}
