{% extends postorius_base_template %}
{% load url from future %}
{% load i18n %}

{% block main %}
    {% include 'postorius/menu/user_nav.html' %}
    {% if nolists %}
        <div class="mm_subHeader">
            <h1>{% trans "No Preferences Available" %}</h1>
        </div>
        <p> {% trans 'You are not yet subscribed to any lists, so have no Mailman preferences.' %} </p>
    {% else %}

    <div class="mm_subHeader">
        <h1>{% trans "Subscription Settings" %} <span>- {{ user }}</span></h1>
    </div>

    <p><strong>Mailman display name:</strong> {{ mm_user.display_name}}</p>
    <p><strong>Django email:</strong> {{ user.email }}</p>
    <p><strong>Mailman primary email:</strong> {{ mm_user.email }}</p>
    <h2>Valid email addresses for this account:</h2>
    <ul>
<!-- ADDRESSES/EMAIL@/MEMBERSHIPS -->
    {% for address in mm_user.addresses %}
        <li>{{ address }}</li>
    {% endfor %}
    </ul>

    <h2 style="color: red">WARNING: This page is currently a mockup and
anything below this line may not work</h2>

    <h2>Preferences:</h2>
    <p>preferences: {{ mm_user.preferences }}
    <p>user: {{ mm_user }}
    <p>tko
    <p>memberships: {{ membership_lists }}
    {% for pref in mm_user.preferences %}
        <li>{{ pref }}</li>
    {% endfor %}
    
    <p><em class="errorlist">Sample output: not real</em></p>
    <ul>
        <li>list1@example.com [<a href="#">listinfo</a>] 
            [<a href="#">settings</a>]</li>
        <li>kumquat@example.com [<a href="#">listinfo</a>] 
            [<a href="#">settings</a>]</li>
        <li>starfruit@example.com [<a href="#">listinfo</a>] 
            [<a href="#">settings</a>]</li>
    </ul>

    <h2>Prefs form</h2>
    <form action="{% url 'user_mailmansettings' %}" method="post" class="well"> {% csrf_token %}
        {{ settingsform.as_p }}
        <button class="btn btn-success" type="submit">{% trans "Save" %}</button>
    </form>

    <h2>List Preferences Overview</h2>
    <p><em class="errorlist">Sample output: not real</em></p>
    <input id="btnHide" type="button" value="{% trans "Hide Descriptions" %}"/>
    <form action="#"> {% csrf_token %}
    <table class="table table-bordered table-striped">
        <tr>
            <th>{% trans "Setting" %}</th>
            <th>{% trans "Description" %}</th>
            <th>{% trans "Set all" %}</th>
            <th class="rotate">list1@example.com</th>
            <th class="rotate">kumquat@example.com</th>
            <th class="rotate">starfruit@example.com</th>
        </tr>
        <tr>
            <th>{% trans "Mail delivery" %} ({{ preference }})</th>
            <td>Set this option to <em>Enabled</em> to receive
messages posted
        to this mailing list.  Set it to <em>Disabled</em> if you want
        to stay subscribed, but don't want mail delivered to you for a
        while (e.g. you're going on vacation).  If you disable mail
        delivery, don't forget to re-enable it when you come back; it
        will not be automatically re-enabled." </td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" /></td>
        </tr>
    {% for preference in mm_user.preferences %}
    {% endfor %}
        <tr>
            <th colspan="6">{% trans "Per-Email subscriptions" %}</th>
        </tr>
        <tr>
            <th colspan="2">anna@example.com</th>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" /></td>
        <tr>
        </tr>
    </table>
    </form>
    {% endif %}
{% endblock main %}
~                      
