{% extends postorius_base_template %}
{% load url from future %}
{% load i18n %}

{% block main %}
    <h1>{% trans "To Do" %}</h1>
    <p>There are no pending tasks at the present time.</p>
{% endblock main %}
