{% extends postorius_base_template %}
{% load url from future %}
{% load i18n %}

{% block main %}
    {% include 'postorius/menu/user_nav.html' %}
    <h1>User Profile <span>- {{ user }}</span></h1>

    <table class="table table-bordered table-striped mm_userData">
    	<tbody>
    		<tr>
    			<td>{% trans 'Mailman display name' %}</td>
    			<td>{{ user.display_name}}</td>
    		</tr>
    		<tr>
    			<td>{% trans 'User name' %}</td>
    			<td>{{ user.username}}</td>
    		</tr>
    		<tr>
    			<th>{% trans 'First name' %}</th>
    			<td>&nbsp;</td>
    		</tr>
    		<tr>
    			<th>{% trans 'Last name' %}</th>
    			<td>&nbsp;</td>
    		</tr>
    		<tr>
    			<th>{% trans 'IRC handle' %}</th>
    			<td>&nbsp;</td>
    		</tr>
    		<tr>
    			<th>{% trans 'Website' %}</th>
    			<td>&nbsp;</td>
    		</tr>
    		<tr>
    			<th>{% trans 'Twitter' %}</th>
    			<td>&nbsp;</td>
    		</tr>
    	</tbody>
    </table>
{% endblock main %}
