{% extends postorius_base_template %}
{% load url from future %}
{% load i18n %}

{% block main %}
    <h1>{% trans 'Something went wrong' %}</h1>

    {% if error %}<div class="alert alert-error">{{ error }}</div>{% endif %}
{% endblock %}
