{% extends "postorius/base.html" %}
{% load url from future %}
{% load i18n %}
{% load nav_helpers %}

{% block main %}
    {% if user.is_superuser %}
        {% users_nav 'user_index' 'Mailman Users' %}
    <div class="mm_subHeader">
        <h1>{% trans "Mailman Users" %}</h1>
    </div>
    {% endif %}

    <table class="table table-bordered table-striped">
    	<thead>
    		<tr>
    			<th>{% trans 'Email' %}</th>
    			<th>{% trans 'Display name' %}</th>
    			<!-- th>{% trans 'Web User' %}</th -->
    			<!--th>{% trans 'Mailman User' %}</th -->
    		</tr>
    	</thead>
    	<tbody>
            {% for mm_user in mm_user_page %}
    		<tr>
    			<td>
                    <a href="{% url 'user_summary' user_id=mm_user.user_id %}">{% for address in mm_user.emails|slice:":1" %}{{ address }}{% endfor %}</a>
                </td>
    			<td>
                    {{ mm_user.display_name }}
                </td>
    			<!--td><i class="icon-ok"></i></td -->
    			<!--td><i class="icon-remove"></i></td -->
    		</tr>
            {% endfor %}
    	</tbody>
    </table>

    <div class="pagination pagination-centered">
        <ul>
            {% if mm_user_page_nr > 1 %}
                <li><a href="{% url 'user_index_paged' mm_user_page_previous_nr %}">&laquo;</a></li> 
            {% else %}
                <li class="disabled"><span>&laquo;</span></li> 
            {% endif %}

        	<li><span>{{ mm_user_page_nr }}</span></li>

            {% if mm_user_page_show_next %}
                <li><a href="{% url 'user_index_paged' mm_user_page_next_nr %}">&raquo;</a></li> 
            {% else %}
                <li class="disabled"><a href="#">&raquo;</a></li> 
            {% endif %}
        </ul>
    </div>

{% endblock main %}
